@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: hsl(0, 0%, 0%);
    --color-secondary: hsl(0, 0%, 100%);
    --color-text-base: hsl(0, 0%, 100%);
    --color-bg-primary: hsl(0, 0%, 100%);

  }
  * {
    @apply transition-colors duration-500 ease-in-out;
  }
}


.theme-black {
  --color-primary: hsl(0, 0%, 0%);
  --color-secondary: hsl(0, 100%, 100%);

}

.theme-white {
  --color-primary: #fffdfd;
  --color-secondary: #ffffff;
  --color-base:  hsl(0, 0%, 0%);
  --color-alt: #969696;
}

.theme-blue {
  --color-primary: hsl(229, 70%, 8%);
  --color-secondary: #3b8ebe;
  --color-base:  hsl(0, 0%, 100%);
  --color-alt: #0b3f6e;
  
}